.page-title-container {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.page-title-container .page-title-text-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.page-title-container {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.page-title-container .page-title-text-container h4 {
    color: #179d5a;
    font-weight: 600;
    font-size: 1.75em;
    letter-spacing: 0.03125em;
}
.page-title-container .page-title-text-container h6 {
    font-size: 1.1875em;
    margin-top: 1.1875em;
    font-weight: 300;
    color: #107141;
}
.blog-articles .page-title-container .page-title-text-container {
    margin: 0;
}