.close-icon svg rect.top {
    -webkit-transform: matrix(1, 0, 0, 1, 39, 6) rotate(45deg) translate(0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 39, 6) rotate(45deg) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 39, 6) rotate(45deg) translate(0, 0);
}
.close-icon svg rect.center {
    transform: rotateY(90deg);
}
.close-icon svg rect.bottom {
    transform: matrix(1, 0, 0, 1, -53, 31) rotate(-45deg) translate(0, 0);
}