.icon-in-trc svg rect {
    fill: #ffffff;
    transition: all 200ms;
}
.trc-button.active svg rect.top {
    transform: matrix(1, 0, 0, 1, 39, 6) rotate(45deg) translate(0, 0);
} 
.trc-button.active svg rect.center {
    transform: rotateY(90deg);
} 
.trc-button.active   svg rect.bottom {
    transform: matrix(1, 0, 0, 1, -53, 31) rotate(-45deg) translate(0, 0);
} 