html[dir=ltr] {
    * {
        font-family: OpenSans , Vazir;
    }
    .full-height-page {
        &#HomePage {
            .first-page-container-content {
                .first-page-header {
                    .right.floated.right.aligned.eight.wide.column {
                        text-align: left;
                        margin: 0;
                        .logo-container {
                            float: none;
                            .under-development-icon {
                                display: none;

                            }
                            .baninab-logo-type {
                                margin-right: 0em;
                                margin-left: 1em;
                            }
                        }
                    }
                    .left.floated.left.aligned.six.wide.column {
                        margin-left: 8em;
                        margin-right: 0;
                        text-align: right;
                        .left-sidebar-menu-icon .title-in-trc {
                            margin-left: .525em;
                            margin-right: 0px;
                            vertical-align: -0.15em;
                        }
                    }
                }
                .change-language-button {
                    padding: 0.875rem 1.15rem 0.875rem 1.15rem;
                    margin-right: 2em;
                }
                .menu-list {
                    right: 5.625em;
                    left: auto;
                    &.active-menu-list {
                        right: 8.75em;
                    }
                    .blog {
                        display: none;
                    }
                    .jobs {
                        display: none;
                    }
                }
                .next-page {
                    .trc-btn.light-btn.go-to-how-we-work {
                        padding: .6875em 3.75em .6875em 1.125em;
                        .icon-in-trc {
                            right: 1.125em;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
    #ServicePage {
        .main-section-container {
            .service-page-content {
                .service-description {
                    margin-left: 4em;
                    margin-right: 0px;
                    .each-service {
                        h5 {
                            text-align: left;
                            padding-right: 0em;
                            padding-left: 1.8125em;
                            &:before {
                                right: auto;
                                left: 0px;
                            }
                        }
                    }
                }
                .service-introduction-section {
                    margin-right: 0;
                    margin-left: calc(20% + -4em*2);
                    .round-icon-animation {
                        direction: rtl;
                        top: -11px;
                    }
                }

            }   
        }
    }
    #SolutionPage {
        .solution-page-content {
            .each-solution {
                .each-solution-container {
                    .go-to-solution-modal {
                        float: right;
                        padding: .5625em 2.8125em .5625em 1.125em;
                        .icon-in-trc {
                            right: 1.25em;
                            left: auto;
                            transform: rotate(180deg);
                            top: -.325em;
                        }
                    }
                } 
            }
        }
        .dopdots.lineX.InTwoRow {
            left: -7px;
        }
    }
    #AboutPage {
        .about-company-paragraph {
            text-align: left;
        }
        .technologies-that-we-use {
            padding-bottom: 3em;
            .technologies-that-we-use-title {
                text-align: left;
                canvas.titleLineX {
                    left: auto;
                    right: 0;
                }
            }
        }  
        .trust-badge {
            display: none;
        }
    }
    #ContactPage {
        .each-contact-way {
            &:not(:first-child) {
                margin-left: 4.875em;
            }
            &:first-child {
                margin-left: 0px;
            }
            .each-contact-way-container {
                h6 {
                    font-size: 1.5em;
                }
                
            }
        }
    }
    .about-page .main-section-container .about-company-paragraph
    /**/
    .basic-modal h5, .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container h5 , .basic-modal p, .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container p {
        text-align: left;
    }
    .basic-modal h5, .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container h5 {
        padding-left: 29px;
        padding-right: 0px;
        text-align: left;
        &:before {
            left: 2px;
            right: auto;
        }
    }
    .main-page-footer  {
        .copyright-section {
            float: left;
            .copyright.copyright-azard {
                display: none;
            }
        }
        .social-media-section {
            float: right;
            margin-top: 0px;
        }
    }
    .blog-header {
        .blog-container {
            .blog-search-icon {
                display: none;
            }
            .under-development-icon {
                display: none;
            }
            .two.column {
                .right.aligned.right.floated.ten.wide.column {
                    text-align: left;
                    .baninab-logo-type {
                        margin-right: 0em;
                        margin-left: 1em;
                    }
                }
                .left.aligned.left.floated.six.wide.column {
                    text-align: right;
                    .trc-button .title-in-trc {
                        margin-right: 0;
                        margin-left: .525em;
                    }
                }
            }
        }
        .category-list {
            display: none;
        }

        .menu-list {
            left: auto;
            right: 5.625em;
            text-align: right;
            .menu-item {
                &.blog {
                    display: none;
                }
                &.jobs {
                    display: none;
                }
            }
        }
        .active-menu-list .menu-list {
            right: 8.75em;
        }        
    }
    .solutuions-static-pages-content * {
        direction: ltr !important;
    }


    @media screen and (max-width: 84em) {
        .full-height-page#HomePage {
            .first-page-container-content {
                .first-page-header {
                    .left.floated.left.aligned.six.wide.column {
                        margin-left: 7em;
                    }
                }
            } 
        }
        #ContactPage {
            .each-contact-way:not(:first-child) {
                margin-left: 4.375em;
            }
        }
    }
    @media screen and (max-width: 67em) {
        .full-height-page#HomePage {
            .first-page-container-content {
                .first-page-header {
                    .left.floated.left.aligned.six.wide.column {
                        margin-left: 2em;
                        width: 45% !important;    
                    }
                    .right.floated.right.aligned.eight.wide.column {
                        .baninab-logo-type {
                            font-size: 1.2em;
                            margin-left: .75em;
                        }
                    }
                }
            } 
        }
        .service-page {
            .main-section-container {
                .service-page-content>.column.service-introduction-section {
                    .service-introduction-animation-container {
                        right: 8em;
                    }
                } 
            }
        }
        #ContactPage {
            .each-contact-way:not(:first-child) {
                margin-left: 1.55em;
            }
        }
    }
    @media screen and (max-width:49.3em) { 
        .blog-header .website-container {
            padding: 2.5em 2em !important;
        }
        .blog-header .active-menu-list .menu-list {
            right: 0;
            top: -1em !important;
            width: 100%;
            padding: 3em !important;
            text-align: center;
        }
        .blog-header .trc-button.light-button.active.blog-category-button {
            top:1.5em;
            left: auto;
        }
        .full-height-page#HomePage {
            .first-page-container-content {
                .first-page-header {
                    .left.floated.left.aligned.six.wide.column {
                        margin-left: 0em;
                        width: 100% !important;
                        text-align: center;
                    }
                }
            } 
        }
        .service-page {
            .main-section-container {
                .service-page-content>.column.service-introduction-section {
                    .service-introduction-animation-container {
                        right: -6em !important;
                    }
                } 
            }
        }
        #ContactPage {
            .each-contact-way:not(:first-child) {
                margin-left: 0em;
            }
        }   
    }
    @media screen and (max-width:33.4em) {
        .full-height-page .main-section-container .first-page-container-content {
            padding: 0 1.5em;
        }
        .full-height-page#HomePage {
            .first-page-container-content {
                .first-page-header {
                    .left.floated.left.aligned.six.wide.column {
                        .change-language-button {
                            margin-left: 0px;
                        }
                    }
                    .right.floated.right.aligned.eight.wide.column {
                        .baninab-logo-type {
                            font-size: 1.1em;
                            margin-left: .5em !important;
                        }
                    }
                }
            } 
        }
        #ServicePage {
            .main-section-container {
                .service-page-content {
                    .service-description {
                        margin-left: 2em;
                    }
                } 
            } 
        }
        footer.main-page-footer {
            .footer-container {
                .copyright-section {
                    .copyright-baninab {
                        font-size: 0.8em;
                        margin-top: 0.3em;
                    }
                }     
            }
        }
    }
}