.blog-header.active-search .website-container .trc-button.light-button.blog-search-icon {
    transform-origin: center center;
    transform: translate(7em, 14em)scale(3)rotate(-20deg);
    opacity: 0;
}

.search-box-main-container {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(70, 212, 141);
    width: 100%;
    height: 100%;
    z-index: 99;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.active-search .search-box-main-container {
    transition-duration: 200ms;
    transition-property: opacity;
    opacity: .9875;
    visibility: visible;
}

.search-box-main-container .search-input {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 2em 3em;
    border: 3px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    max-width: 90%;
}

.active-search .search-box-main-container .search-input {
    transition-delay: 150ms;
    transition-timing-function: linear;
    transition-duration: 175ms;
    top: 50%;
    opacity: 1;
}

.search-box-main-container .search-input input[type="text"]::placeholder {
    color: #f3f3f3;
}

.search-box-main-container .search-input input[type="text"] {
    color: #fff;
    background: transparent;
    border: 0;
    font-size: 1.8em;
    padding: .25em;
    min-width: 17em;
}

.search-box-main-container .search-input form {
    position: relative;
}

.search-box-main-container .search-input input[type="submit"] {
    height: 42px;
    width: 42px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    left: 0px;
    top: 1.1em;
}

.search-box-main-container .search-input .search-submit-icon-container {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 0;
    top: 12px;
}

.search-box-main-container .close-icon {
    position: absolute;
    top: -6em;
    left: -3px;
    width: 3.75em;
    height: 3.75em;
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    padding: .6975em;
    text-indent: 1px;
    line-height: 3.75em;
}

.search-box-main-container .close-icon rect {
    fill: #fff;
    transition: all 200ms;
}

.search-box-main-container .close-icon:after {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.175);
}