.loading-webiste {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #061017;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: all 250ms;
}
.loading-webiste.page-loaded {
    opacity: 0;
    visibility: hidden;
}
.loading-webiste .baninab-logo {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    width: 30%;
    height: 30%;
}
.loading-webiste .baninab-logo svg {
    width: 100%;
    height: 100%;
    transform: translate3d(0,0,0);
    overflow: visible;
}
.loading-webiste .baninab-logo svg path {
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    transform-origin: 5em 10em; 
    transform: translate(0px, 0px) rotate(0deg);
    will-change: transform;
}
.loading-webiste .baninab-logo svg path.last-circle {
    animation-name: logo-last-circle;
}
.loading-webiste .baninab-logo svg path.six-circle {
    animation-name: logo-six-circle;
}
.loading-webiste .baninab-logo svg path.five-circle {
    animation-name: logo-five-circle;
}
.loading-webiste .baninab-logo svg path.four-circle {
    animation-name: logo-four-circle;

}
.loading-webiste .baninab-logo svg path.three-circle {
    animation-name: logo-three-circle;
}
.loading-webiste .baninab-logo svg path.two-circle {
    animation-name: logo-two-circle;
}
.loading-webiste .baninab-logo svg path.one-circle {
    animation-name: logo-one-circle;
}
@keyframes logo-last-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    12.5% {
        -webkit-transform: translate(-3px, 21px) rotate(-11deg)skewX(15deg);
        -moz-transform: translate(-3px, 10px) rotate(-11deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-six-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    25% {
        transform: translate(-13px, 22px) rotate(-12deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-five-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    37.5% {
        transform: translate(-19px, 3px) rotate(-10deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-four-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    50% {
        transform: translate(-18px, -14px)rotate(-11deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-three-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    62.5% {
        transform: translate(-10px, -20px) rotate(-15deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-two-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    75% {
        transform: translate(5px, -18px) rotate(-8deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}
@keyframes logo-one-circle {
    0% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
    87.5% {
        transform: translate(13px, -6px) rotate(-3deg)skewX(15deg);
    }
    100% {
        transform: translate(0px,0px)rotate(0deg)skewX(0deg);
    }
}