@media screen and (max-width:84em) {
    html {
        font-size: 15px
    }
    .website-container {
        width: 65.33333333rem
    }
    .full-height-page .main-section-container .first-page-container-content .baninab-logo-type {
        margin-right: .66666667rem
    }
    .solution-page .main-section-container.website-container canvas.lineY {
        left: -2px
    }
    .full-height-page .main-section-container .first-page-container-content .menu-list.active-menu-list li {
        font-size: .86666667rem
    }
    .full-height-page .main-section-container .first-page-container-content .menu-list.active-menu-list li:not(:first-child),
    .full-height-page .main-section-container .first-page-container-content .menu-list.active-menu-list li:not(:last-child) {
        margin: 0 .33333333rem
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h2 {
        font-size: 2.53333333rem
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h3 {
        font-size: 1.8rem
    }
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo.irancell img {
        width: 100px;
        height: 76px
    }
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo.parsonline img,
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo.saman img {
        width: 226px;
        height: 53px
    }
    .solution-page .main-section-container.website-container .customers-section {
        margin-top: 4.53333333rem
    }
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo.ansar img {
        width: 100px;
        height: 100px
    }
    .solution-page .main-section-container.website-container .solution-page-content .each-solution {
        margin-bottom: 5rem
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way:not(:last-child) {
        margin-left: 4.46666667rem
    }
    .contact-page .main-section-container .contact-page-content {
        margin-top: 1.86666667em
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way canvas.dopdots.dopdots-visit-contact-way {
        right: 10px
    }
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo:not(:last-child) {
        margin-left: 1.34725em
    }
    .solution-page .main-section-container.website-container .customers-section .customers-content .each-customers-logo img {
        transform: scale(.8875)
    }
    .service-page .main-section-container .service-page-content .service-introduction-section .service-introduction-animation-container {
        height: calc(100% - 14.5em) !important;
        left: 4em !important;
    }
    .trust-badge .each-icon-with-description {
        margin: 0 .91em;
    }
    .about-page .main-section-container .technologies-that-we-use {
        margin-top: 2.9575em;
    }
    .about-page .main-section-container .trust-badge {
        margin-top: 3.68075em;
    }
    .about-page .main-section-container .trust-badge .trust-badge-title canvas.titleLineX {
        left: -32px;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way .each-contact-way-container h6 {
        font-size: 1.45em;
    }
}

@media screen and (max-width:67em) {
    .website-container {
        width: 48rem
    }
    .full-height-page .main-section-container .first-page-container-content .menu-list {
        top: 7.8em;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h2 {
        font-size: 1.83333333rem;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h3 {
        font-size: 1.3rem;
    }
    .full-height-page .main-section-container .first-page-container-content .next-page .go-to-how-we-work .title-in-trc {
        font-size: 1.1em;
    }
    .service-page .main-section-container .service-page-content>.column {
        width: 84% !important;
    }
    .service-page .main-section-container .service-page-content>.column.service-introduction-section {
        height: 30em;
    }
    .service-page .main-section-container .service-page-content>.column.service-introduction-section .service-introduction-animation-container {
        position: absolute;
        width: 33em;
        height: calc(100% + 6em) !important;
        left: 0 !important;
        right: 0;
        bottom: 0;
        top: 2em;
        margin: auto;
    }
    .solution-page .main-section-container.website-container canvas.lineY {
        left: 10px;
    }
    .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container .go-to-solution-modal {
        padding: .5625em 1.125em .5625em 2.8125em;
        margin: 1.375em 0 1em 1.375em;
        float: left;
    }
    .solution-page .main-section-container.website-container canvas.InTwoRow {
        top: 25px;
        right: 1px;
    }
    .about-page .main-section-container .technologies-that-we-use {
        margin-top: 3.775em;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way {
        width: calc(33% - 1em);
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way:not(:last-child) {
        margin-left: 1.466667rem;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way .each-contact-way-container h6 {
        font-size: 1.15em;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way .each-contact-way-container .each-contact-way-description .more-description {
        line-height: 1.8;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way .each-contact-way-container .each-contact-way-description a.email {
        font-size: 1.0375em;
    }
}

@media screen and (max-height : 500px) {
    .full-height-page .main-section-container {
        height: calc(100% - 2em);
    }
    .full-height-page .main-section-container .first-page-container-content .main-content {
        top: auto;
        transform: none !important;
        width: 100%;
        margin-top: 1.25em;
    }
    .main-section {
        min-height: 500px !important;
    }
    .full-height-page .main-section-container .first-page-container-content .next-page {
        bottom: 3em;
    }
    .first-page-header .left-sidebar-menu-icon {
        margin-top: -1em !important;
    }
}

@media screen and (max-width:49.3em) {
    .website-container {
        width: 30rem;
    }
    .full-height-page .main-section-container {
        height: calc(100% - 1em);
    }
    .first-page-header .left-sidebar-menu-icon.active-menu-icon {
        transform: translate(.15em,2em);
        float: right;
    }
    .first-page-header .left-sidebar-menu-icon {
        z-index: 2;
    }
    .full-height-page .main-section-container .first-page-container-content .first-page-header .column {
        width: 100% !important;
        text-align: center;
    }
    .full-height-page .main-section-container .first-page-container-content .logo-container {
        float: none;
    }
    .full-height-page .main-section-container .first-page-container-content .menu-list {
        top: 6em;
        background: #071215;
        left: 0em !important;
        width: 100%;
        right: 0;
        text-align: center;
        padding: 1em 0;
        margin: auto;
    }
    .full-height-page .main-section-container .first-page-container-content .menu-list li {
        margin: 2em 0 !important;
        display: block;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h2 {
        font-size: 1.65333333rem;
        line-height: 1.7em;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h3 {
        font-size: .9rem;
    }
    .service-page .main-section-container .service-page-content>.column.service-introduction-section .service-introduction-animation-container {
        width: 27em;
        right: -2em !important;
        transform: scale(.88);
    }
    .solution-page .main-section-container.website-container canvas.lineY {
        left: 27px;
    }
    .basic-modal h5,
    .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container h5 {
        line-height: 1.7em;
    }
    .solution-page .main-section-container.website-container canvas.InTwoRow {
        top: 175px;
        right: 1px;
    }
    .about-page .main-section-container .technologies-that-we-use {
        margin-top: 4.4975em;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way {
        width: 20em;
        height: 315px;
    }
    .contact-page {
        height: auto;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way:not(:last-child) {
        margin-left: 0;
        margin-bottom: 1em;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way .each-contact-way-container h6 {
        margin-top: 30px;
    }
    footer.main-page-footer .footer-container .copyright-section .copyright {
        display: block;
        margin-top: 1em;
    }
    footer.main-page-footer .footer-container .social-media-section {
        margin-top: 2.3875em;
    }
}

@media screen and (max-width:33.4em) {
    .website-container {
        width: 19rem;
    }
    .service-page .main-section-container .service-page-content>.column.service-introduction-section,
    .full-height-page .main-section-container .first-page-container-content .logo-container .under-development-description,
    .solution-page .main-section-container.website-container canvas.lineY,
    .solution-page .main-section-container.website-container canvas.lineX,
    .about-page .main-section-container .technologies-that-we-use .technologies-that-we-use-title canvas.titleLineX , 
    .about-page .main-section-container .trust-badge .trust-badge-title canvas.titleLineX {
        display: none;
    }
    .full-height-page .main-section-container .first-page-container-content {
        overflow: hidden;
    }
    .full-height-page .main-section-container .first-page-container-content .first-page-header {
        width: 19rem;
        margin-right: -3em;
    }
    .full-height-page .main-section-container .first-page-container-content .baninab-logo-type {
        font-size: 1.4025em;
    }
    .full-height-page .main-section-container .first-page-container-content .baninab-logo {
        width: 4.975em;
        height: 4.225em;
    }
    .full-height-page .main-section-container .first-page-container-content .first-page-header>.column:nth-of-type(1) {
        text-align: right;
    }
    .full-height-page .main-section-container .first-page-container-content .logo-container .under-development-icon {
        left: -9px;
        top: 3px;
    }
    .full-height-page .main-section-container .first-page-container-content .baninab-logo-type {
        font-size: 1.225em;
        margin-right: 1rem;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h2 {
        font-size: 1.7rem;
        line-height: 1.7em;
        padding: 0 0.5em;
    }
    .page-title-container .page-title-text-container h4 {
        font-size: 1.8em;
        padding: 0 1em;
        line-height: 1.5em;
    }
    .page-title-container .page-title-text-container {
        margin-right: 0;
    }
    .full-height-page .main-section-container .first-page-container-content .main-content .website-slogan-container h3 {
        font-size: .9rem;
        line-height: 1.92em;
        padding: 0 1.25em;
        margin-top: 0.875em;
    }
    .first-page-header .left-sidebar-menu-icon {
        margin-top: -1em !important;
    }
    .service-page .main-section-container .service-page-content .service-description .each-service {
        padding-left: 1em;
    }
    .service-page .main-section-container .service-page-content .service-description .each-service h5 {
        line-height: 1.6em;
    }
    .solution-page {
        padding-top: 0;
    }
    .solution-page .main-section-container.website-container .solution-page-content .each-solution {
        margin-bottom: 2rem;
        width: 100%;
        text-align: center;
    }
    .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container .go-to-solution-modal {
        float: none;
    }
    .dark-section .page-title-container .page-title-text-container h6 {
        line-height: 1.5em;
    }
    .solution-page .main-section-container.website-container .solution-page-content .each-solution .each-solution-container {
        margin: 0 1.5em !important;
    }
    .about-page .main-section-container .technologies-that-we-use .technologies-that-we-use-title h6 {
        line-height: 1.8em;
        text-align: center;
    }
    .about-page .main-section-container .trust-badge .trust-badge-title h6 {
        display: block;
        text-align: center;
    }
    .contact-page .main-section-container .contact-page-content .each-contact-way {
        width: 19em;
    }
    footer.main-page-footer {
        text-align: center;
    }
    footer.main-page-footer .footer-container .copyright-section .copyright-baninab {
        margin-left: 0px;
    }
    footer.main-page-footer .footer-container .copyright-section , footer.main-page-footer .footer-container .social-media-section {
        float: none;
    }
}