.trc-button {
    display: inline-block;
    padding: .3275em 1em;
    position: relative;
    cursor: pointer;
}
.trc-button:after, .trc-button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 250ms;
}
.trc-button.light-button:before {
    left: 0;
    box-shadow: 0 0 0 2px #ffffff;
    top: 0;
    z-index: 1;
}
.trc-button.light-button:after {
    left: 0.3125em;
    box-shadow: 0 0 0 2px #404040;
    top: 0.3125em;
}
.trc-button:hover:after {
    left: 0;
    top: 0;
}
.trc-button.light-button:hover:after {
    box-shadow: 0 0 0 2px #ffffff;
}
.trc-button:hover:before {
    /* left: -0.4375em;
    top: -0.4375em; */
    opacity: 0;
}
.trc-button.light-button:before {
    left: 0;
    box-shadow: 0 0 0 2px #ffffff;
    top: 0;
    z-index: 1;
}
.trc-button .title-in-trc {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin-right: .525em;
    font-size: 1.5em;
}
.trc-button .icon-in-trc {
    width: 1.75em;
    display: inline-block;
    height: 1.75em;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}
.trc-button.active:after {
    display: none;
}
.trc-button.light-button.active:before {
    box-shadow: 0 0 0 2px #ffffff !important;
    opacity: 1 !important;
}
.trc-button.active .title-in-trc {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.trc-button.active {
    padding: .6em .75em;
}
.trc-button * {
    transform: translate3d(0,0,0);
}