footer.main-page-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: #061017;
    padding: 1.25em 0;
}

footer.main-page-footer .footer-container .copyright-section {
    float: right;
}

footer.main-page-footer .footer-container .copyright-section .copyright {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.90625em;
}

footer.main-page-footer .footer-container .copyright-section .copyright-baninab {
    margin-left: 25px;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard {
    text-decoration: none;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard:hover span {
    color: #fff;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard:hover svg path {
    fill: #a5da0a;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard .icon-azard {
    display: inline-block;
    vertical-align: -15px;
    width: 43px;
    height: 43px;
    margin-left: 5px;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard .icon-azard svg path {
    transition: all 200ms;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard span {
    color: #a5da0a;
    text-decoration: none;
    margin-right: 3px;
    transition: all 200ms;
}

footer.main-page-footer .footer-container .copyright-section .copyright-azard span:hover {
    color: #fff;
}

footer.main-page-footer .footer-container .social-media-section {
    float: left;
    margin-top: 0.6875em;
}

footer.main-page-footer .footer-container .social-media-section a {
    width: 1.3125em;
    height: 1.3125em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.25em;
}

footer.main-page-footer .footer-container .social-media-section a svg path {
    fill: #ffffff;
    transition: all 200ms;
    transform: rotateY(0deg);
}

footer.main-page-footer .footer-container .social-media-section a:hover svg path {
    fill: #189d5a;
    transform-origin: center center;
    transform: rotateY(15deg)rotateZ(5deg);
}
/* footer.main-page-footer.fix-footer-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
} */