html {
    font-size: 16px;
}

body {
    background: #061017;
}

* {
    font-family: 'Vazir', OpenSans;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.latin-text {
    font-family: OpenSans;
}

.element-on-canvas {
    position: relative;
    z-index: 2 !important;
}
.blog-container {
    position: relative;
    text-align: center;
}

canvas.dopdots {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
}


/* End initial Css ||| Start Set Varible */


/* End Set Varible  */


/* End initial stylesheet ||| Start initial stylesheet   */

body.modal-is-active {
    overflow: hidden;
}

.main-section {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.website-container {
    width: 76.25em;
    margin: auto;
    /* position: relative;
    text-align: center; */
}

.container-padding {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.dark-section {
    background-color: #051215;
}

.dark-section .page-title-container .page-title-text-container h6 {
    color: #107141;
}

.light-section {
    background-color: #eefbfe;
}

.light-section .page-title-container .page-title-text-container h6 {
    color: #9ccfb7;
}
*::-moz-selection { 
    color: #fff;
    background-color: rgba(13, 156, 77, 0.35);
}
*::selection { 
    color: #fff;
    background-color: rgba(13, 156, 77, 0.35);
}